body{
    background:#615c5c;
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    color:#fff;
    text-decoration:none;
    font-size:28px;
    position:relative;
}

nav a::after{
    content:'';
    width:0;
    height:3px;
    background:#ff004f;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
}

nav a:hover::after{
    width:100%;
}